<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079468036650-nan4nds3cpmrc2gt48s35cds2o4uqmel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079468036650-nan4nds3cpmrc2gt48s35cds2o4uqmel</string>
	<key>API_KEY</key>
	<string>AIzaSyDSkmkZjEMjD0CA6TfBhBnYuxSNiMRuu4I</string>
	<key>GCM_SENDER_ID</key>
	<string>1079468036650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ankushgandhi.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-ankush-singh</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-ankush-singh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079468036650:ios:6074fe1e06c85b7feba953</string>
</dict>
</plist>